
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2 class="right-line">About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
            <p>Iusto harum est illum consequatur sint accusamus illo error beatae sit officiis quidem eius aliquid hic quisquam minima ducimus fugiat, qui nihil quis amet. Nemo unde accusantium ipsam inventore repudiandae excepturi molestias sapiente amet officia laboriosam facilis consectetur blanditiis, aut, cumque temporibus, quam beatae. Alias qui sint, numquam accusantium necessitatibus!</p>
            <p>Nostrum nesciunt possimus rem dolorem, sapiente vero placeat, quaerat dolore voluptate esse nisi eveniet suscipit iure magnam illum ullam pariatur fugiat repellendus sunt, blanditiis recusandae assumenda quisquam! Doloremque provident laboriosam numquam fuga, asperiores, expedita nesciunt vero, hic voluptatum laborum cumque modi aut nemo deserunt ratione sequi iste. Nobis, quis, error.</p>
        </div>
        <div class="col-md-5">
            <h2 class="right-line">Our Approach</h2>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <i class="fa fa-lightbulb-o"></i> Talent and creativity
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore.</p>
                    <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo expedita nesciunt vero sunt veniam est quasi doloribus ipsam incidunt perferendis.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                      <i class="fa fa-desktop"></i> Design and code
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore.</p>
                    <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo expedita nesciunt vero sunt veniam est quasi doloribus ipsam incidunt perferendis.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                      <i class="fa fa-user"></i> Quality and Support
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore.</p>
                    <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo expedita nesciunt vero sunt veniam est quasi doloribus ipsam incidunt perferendis.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div> <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">What do we do?</h2>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-icon">
                <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>
                <div class="text-icon-content">
                    <h3 class="no-margin">Cloud Computing</h3>
                    <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-icon">
                <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
                <div class="text-icon-content">
                    <h3 class="no-margin">Web Design and SEO</h3>
                    <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-icon">
                <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>
                <div class="text-icon-content">
                    <h3 class="no-margin">Mobile and Tablet Apps</h3>
                    <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-icon">
                <span class="icon-ar icon-ar-lg"><i class="fa fa-wordpress"></i></span>
                <div class="text-icon-content">
                    <h3 class="no-margin">Wordpress Themes</h3>
                    <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-icon">
                <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
                <div class="text-icon-content">
                    <h3 class="no-margin">Training and development</h3>
                    <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-icon">
                <span class="icon-ar icon-ar-lg"><i class="fa fa-paper-plane-o"></i></span>
                <div class="text-icon-content">
                    <h3 class="no-margin">Customer service</h3>
                    <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->