<script type="text/javascript-lazy" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript-lazy" src="/assets/js/jquery.cookie.js"></script>
<script type="text/javascript-lazy" src="/assets/js/jquery.bxslider.min.js"></script>
<script type="text/javascript-lazy" src="/assets/js/jquery.mixitup.min.js"></script>
<script type="text/javascript-lazy" src="/assets/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript-lazy" src="/assets/js/wow.min.js"></script>
<script type="text/javascript-lazy" src="/assets/js/DropdownHover.js"></script>
<script type="text/javascript-lazy" src="/assets/js/holder.js"></script>

<header class="main-header">
    <div class="container" ng-controller="HeaderController">
        <h1 class="page-title">아이디/비밀번호 찾기</h1>
        <ol class="breadcrumb pull-right">
            <li>
                <p class="aa">아이디/비밀번호 찾기</p>
            </li>
        </ol>
    </div>
</header>

<div class="fluid-container">
    <div class="row">
        <div class="center-block logig-form">
            <h2 class="section-title no-margin-top">아이디/비밀번호를 분실하셨습니까?</h2>

        <div class="panel panel-primary animated fadeInDown">
            <div class="panel-heading">아이디 | 비밀번호 찾기</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <a href="#/finding/id" class="btn btn-ar ">아이디 찾기</a>
                    </div>
                    <br>
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <a href="#/finding/pw" class="btn btn-ar ">패스워드 찾기</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div> <!-- container  -->
