<script type="text/javascript-lazy" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="">Home</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Portafolio</a></li>
                    <li><a href="">Works</a></li>
                    <li><a href="">Timeline</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Our Team</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>440-746 경기도 수원시 장안구 서부로 300 성균관대학교 자연과학캠퍼스 소프트웨어대학 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tel 031-290-5824,5865 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax 031-290-5819</p><br>
    <p>&copy; Copyright 2016 성균관대학교 자연과학캠퍼스 소프트웨어대학  <strong><a href="http://scg.skku.ac.kr" rel="tooltip"  data-toggle="tooltip" data-placement="top" data-original-title="PM김동민,강성필,곽재헌,김동민,김서진,도해빈,류호준,박한나,오택경,정승환,정희윤,조준희">시스템컨설턴트그룹</a></strong>. All rights reserved.</p>
</footer>

<script type="text/javascript">
    $(function(){
       $('[rel="tooltip"]').tooltip();
       $('[rel="popover"]').popover();
    });
</script>
