<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%=title%></title>
    <meta name="description" content="">
    <!-- preload가 제일 먼저 호출되야 못생긴 모양이 안나옴-->
    <link href="/assets/css/preload.css" rel="stylesheet">

    <script type="text/javascript-lazy" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript-lazy" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript-lazy" src="/assets/js/jquery.cookie.js"></script>
    <script type="text/javascript-lazy" src="/assets/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript-lazy" src="/assets/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript-lazy" src="/assets/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript-lazy" src="/assets/js/wow.min.js"></script>
    <script type="text/javascript-lazy" src="/assets/js/DropdownHover.js"></script>
    <script type="text/javascript-lazy" src="/assets/js/holder.js"></script>

  <!-- css -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/animate.min.css" rel="stylesheet">
    <link href="../assets/css/slidebars.min.css" rel="stylesheet">
    <link href="../assets/css/lightbox.css" rel="stylesheet">
    <link href="../assets/css/jquery.bxslider.css" rel="stylesheet">
    <link href="../assets/css/buttons.css" rel="stylesheet"> 
    <link href="../assets/css/vendors.css" rel="stylesheet">
    <link href="../assets/css/syntaxhighlighter/shCore.css" rel="stylesheet">
    <link href="../assets/css/style-blue.css" rel="stylesheet" title="default">
    <link href="../assets/css/width-full.css" rel="stylesheet" title="default">
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body ng-app="mainApp">
<div class="sb-site-container">
    <div class="boxed">
        <div ng-include="'/views/nav.html'" ng-if="1" ></div>
        <div ng-view></div>
        <div ng-include="'/views/footer.html'" ng-if="1"></div>
    </div>  <!-- boxed -->
</div> <!-- sb-site -->

<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- TO USE CUSTOM ALERT -->
<div id = 'dialogbox'></div>
<style>
    
</style>
<!-- TO USE CUSTOM ALERT -->
<!-- jQuery script가 angularjs보다 먼저 호출되야 함-->
    <script src="assets/js/vendors.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.cookie.js"></script>
    <script src="/assets/js/jquery.bxslider.min.js"></script>
    <script src="/assets/js/jquery.mixitup.min.js"></script>
    <script src="/assets/js/jquery.matchHeight-min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-switch.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/slidebars.min.js"></script>
    <script src="/assets/js/buttons.js"></script>
    <script src="/assets/js/circles.min.js"></script>
    <script src="/assets/js/masonry.pkgd.min.js"></script>
    <script src="/assets/js/styleswitcher.js"></script> 

    <!-- Syntaxhighlighter -->
    <script src="/assets/js/syntaxhighlighter/shCore.js"></script>
    <script src="/assets/js/syntaxhighlighter/shBrushXml.js"></script>
    <script src="/assets/js/syntaxhighlighter/shBrushJScript.js"></script>
    <script src="/assets/js/DropdownHover.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/holder.js"></script>

    <!--angular-->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>

    <!-- video -->
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/videogular/videogular.js"></script>
    <script src="/bower_components/videogular-controls/vg-controls.js"></script>
    <script src="/bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
    <script src="/bower_components/videogular-poster/vg-poster.js"></script>
    <script src="/bower_components/videogular-buffering/vg-buffering.js"></script>
    <script src="bower_components/angular-thumbnails/dist/angular-thumbnails.js"></script>
    
    <!--module js-->
    <script src="/javascripts/core/core.js"></script>
    <script src="/javascripts/controllers/SlideCtrl.js"></script>
    <script src="/javascripts/controllers/LoginCtrl.js"></script>
    <script src="/javascripts/controllers/MainCtrl.js"></script>
    <script src="/javascripts/controllers/VideoCtrl.js"></script>
    <script src="/javascripts/controllers/BoardCtrl.js"></script>
    <script src="/javascripts/controllers/PaperCtrl.js"></script>
    <script src="/javascripts/controllers/MypageCtrl.js"></script>
    <script src="/javascripts/directives/mainBoard.js"></script>
    <script src="/javascripts/directives/mainNav.js"></script>
    <script src="/javascripts/directives/mainSlide.js"></script>
    <script src="/javascripts/controllers/HeaderCtrl.js"></script>
    <script src="/javascripts/controllers/NavListCtrl.js"></script>
    <script src="/javascripts/controllers/SlideNavCtrl.js"></script>    
    <script src="/javascripts/directives/mainPaper.js"></script>
    <script src="/javascripts/directives/tag.js"></script>
</body>
</html>